<div id="predicate-creator" class="data-creator">
    <div class="title-bar">
        <a class="close-dialog action-button" title="close"><i class="fa fa-window-close"></i></a>
    </div>

    <h1 class="title">Create a new Predicate</h1>

    <div class="step-1">
        <div class="predicate-property-selection">
            <ul>
                <li><a class="create-property action-button">Create new property</a></li>
                <li><a class="select-property action-button">Select existing property</a></li>
            </ul>
        </div>
    </div>

    <div class="step-2"></div>

    <div class="step-3"></div>
</div>