<div id="property-selector" class="data-selector">
    <div class="title-bar">
        <a class="close-dialog action-button" title="close"><i class="fa fa-window-close"></i></a>
    </div>
    <h1 class="title">Choose a Property</h1>
    <div class="property-selection">
        <div class="button-container create-new-container">
            <a class="create-new-property">Can't find it? Add a new one!</a>
        </div>
        <table id="properties-table" class="stripe hover compact cell-border" width="95%" cellspacing="0">
        </table>
    </div>
    <div class="button-container">
        <input type="button" class="select-property action-button" value="Select" disabled="disabled" />
    </div>
</div>