<div id="editor-String" class="data-editor" >
    <div class="title-bar">
        <a class='action-button editor-close' title="close"><i class="fa fa-window-close"></i></a>
    </div>
    <h1 class="property-name">{{propertyName}}</h1>

    <table>
        <tr>
            <td><label>Current: </label></td>
            <td><input type="text" class="editor-input" disabled="disabled" value="{{currentValue}}" /></td>
        </tr>
        <tr>
            <td><label>New: </label></td>
            <td class="new-value">
                <input type="text" class="editor-input" value="{{currentValue}}"
                       data-predicate-id="{{predicateId}}" data-variant-id="{{variantId}}" />
            </td>
        </tr>
    </table>

    <div class="action-button-container">
        <input type="button" class="editor-submit" value="Update" />
    </div>

    <div class="bubble-triangle"></div>
</div>