<div id="viewer-ValueList" class="data-editor" >
    <div class="title-bar">
        <a class='action-button editor-close' title="close"><i class="fa fa-window-close"></i></a>
    </div>
    <h1 class="property-name">{{property.name}}</h1>

    <ul class="current-value">
        {{#each valuesToShow}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>