<div id="viewer-VariantPredicateValue" class="data-editor" >
    <div class="title-bar">
        <a class='action-button editor-close' title="close"><i class="fa fa-window-close"></i></a>
    </div>
    <h1 class="property-name">{{propertyName}}</h1>

    <ul class="current-value">
        {{#each currentValues}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <div class="bubble-triangle"></div>
</div>