body,h1,h2,h3,h4,h5,h6 { font-family: "Lato", sans-serif }
.w3-navbar,h1,button { font-family: "Montserrat", sans-serif }
.fa-anchor,.fa-coffee { font-size:200px }
.w3-content { max-width: 95%; margin: auto; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

div.main-container {
    margin-top: 60px;
}

/************************************************************/
/* Floating Buttons */
/************************************************************/

div.table-action-buttons-container {
    /*color: #FFF;*/
    /*position: absolute;*/
    /*margin: 2px;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*transition: visibility 0s, opacity 0.5s;*/
    /*right: 0px;*/
    /*top: 0px;*/
    color: #FFF;
    position: absolute;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    right: 0;
    top: 0;
    /*border-radius: 0px 0px 5px 5px;*/
    overflow: hidden;
}

div.value-override-marker {
    position: absolute;
    background-color: #5a8ba8;
    width: 15px;
    height: 15px;
    left: -7px;
    top: -7px;
    transform: rotate(-45deg);
}

div.table-header-action-buttons-container {
    color: #FFF;
    position: absolute;
    margin: 2px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    right: 0px;
    top: 0px;
}

div.variant-selection-buttons-container {
    right: 0;
    left: 0;
    bottom: 0px;
    color: #FFF;
    position: absolute;
    margin: 2px;
}

input.action-button,
a.action-button {
    background-color: #5a8ba8;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.2s;
}

a.action-button.disabled {
    background-color: #AAAAAA !important;
    cursor: default !important;
}

div.table-action-buttons-container a.action-button {
    background-color: #5a8ba8;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border-radius: 0;
    text-align: center;
    transition: background-color 0.2s;
    margin: -2px;
}

div.table-action-buttons-container a.action-button,
div.table-header-action-buttons-container a.action-button,
div.variant-selection-buttons-container a.action-button {
    width: 25px;
    height: 25px;
    padding: 2px;
}

.action-button-parent {
    position: relative; /*Position it relative so that we can position the children absolute*/
}

.action-button-parent:hover div.table-action-buttons-container,
.action-button-parent:hover div.table-header-action-buttons-container {
    visibility: visible;
    opacity: 1;
}

div.table-action-buttons-container a.action-button:hover,
input.action-button:hover,
a.action-button:hover {
    background-color: #b6e5ff;
}

input, select {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #FFF;
}


table#master > tbody > tr[role='row'] {
    cursor: pointer;
}

/************************************************************/
/* Product Detail */
/************************************************************/

/*div.product-detail-container {*/
    /*overflow-x: scroll;*/
/*}*/

div.product-detail-container #pagination a.number {
    cursor: pointer;
}

div.product-detail-container table.product-detail {
    table-layout: fixed;
    width: 100%;
}

div.product-detail-container table.product-detail td {
    overflow: hidden;
    max-height: 50px;
    white-space: nowrap;
    min-width: 100px
}

div.product-detail-container table.product-detail th.operators-header {
    width: 150px;
}
div.product-detail-container table.product-detail th.properties-header {
    width: 200px;
}

div.product-detail-container table.product-detail td:hover {
    /*background: #d6f3ff;*/
}

div.product-detail-container table.product-detail th.properties-header,
div.product-detail-container table.product-detail th.operators-header,
div.product-detail-container table.product-detail th.variants-header {
    /*padding: 40px;*/
    /*background-color: #009688;*/
    /*color: #FFF;*/
    font-family: "Montserrat", sans-serif;
    /*font-size: 20px;*/
    background: #72AED5;
    color: #FFF;
    font-weight: bold;
}

div.product-detail-container table.product-detail th.variants-header {
    padding: 35px 0px;
}

/* Add border-radius to specific cells! */
tr:first-child th:nth-child(1) {
    border-radius: 5px 0 0 0;
}

tr:first-child th:last-child {
    border-radius: 0 5px 0 0;
}

div.product-detail-container table.product-detail tr.predicate-container {
    height: 40px;
    /*max-height: 100px;*/
}

div.product-detail-container table.product-detail tr.predicate-container td.property-name {
    background: rgba(208, 208, 208, 0.77);
    text-align: left;
    padding: 5px;
    font-weight: bold;
}

td.operator-container, td.variant-predicate-value-container {
    background: #EAEAEB;
    min-width: 100px;
    padding: 0 5px;
    max-height: 100px;
}

/*td.variant-predicate-value-container {*/
    /*min-width: 100px;*/
    /*padding: 2px;*/
    /*max-height: 100px;*/
/*}*/

td.variant-predicate-value-container div.list-value-container {
    height: 120px;
    display: table-cell;
    vertical-align: middle;
}

td.variant-predicate-value-container ul {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0 20px;
}

td.variant-predicate-value-container li.variant-predicate-value {
    /*background: #dcdcdc;*/
    /*border-radius: 5px;*/
    margin: 3px 0;
    /*display: table;*/
    padding: 0 5px;
}

td.variant-predicate-value-container span.variant-predicate-value {
    margin: 3px 5px;
    display: inline-block;
}

div.product-detail-container table.product-detail tr.variants-names-container th.variant-name {
    padding: 10px 40px;
    height: 65px;
    width: 100px;
    vertical-align: bottom;
    background: rgba(208, 208, 208, 0.77);
}

a.show-variant.selected {
    background: #d6f3ff;
}

/************************************************************/
/* Data Editors */
/************************************************************/

div.data-selector,
div.data-creator,
div.data-editor {
    position: relative;
    min-width: 300px;
    overflow: visible !important;
}

div.data-selector div.title-bar,
div.data-creator div.title-bar,
div.data-editor div.title-bar {
    position: absolute;
    right: 10px;
    color: #FFF;
}

div.data-selector div.title-bar a,
div.data-creator div.title-bar a,
div.data-editor div.title-bar a {
    color: #FFF;
    padding: 2px 6px 1px 5px;
}

div.data-selector h1.title,
div.data-creator h1.title,
div.data-editor h1.property-name {
    border-bottom: dotted 1px #666666;
    font-size: larger;
}

div.data-editor table td:first-child {
    text-align: right;
}

div.data-editor select.editor-input,
div.data-editor input.editor-input {
    background: #d6f3ff;
    width: 200px;
}

div.data-editor select.editor-input[disabled="disabled"],
div.data-editor input.editor-input[disabled="disabled"] {
    background: #dddddd;
}

div.data-editor td.current-value ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.data-editor ul.current-value {
    list-style-type: none;
    padding: 0
}

div.data-editor ul.current-value li,
div.data-editor td.current-value li {
    background: #dddddd;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 5px;
}

div.data-editor td.new-value ul.editor-choices-container {
    height: 150px;
    width: 230px;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.data-editor td.new-value li {
    display: block;
    background: #d6f3ff;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 5px;
}

div.data-editor td.new-value select.editor-choices-container {
    background: #d6f3ff;
    width: 200px;
}

div.data-creator td.predicate-default-value-container div.list-choices-action-button-container,
div.data-editor div.list-choices-action-button-container {
    text-align: center;
}

div.data-creator td.predicate-default-value-container div.list-choices-action-button-container input.select-all,
div.data-creator td.predicate-default-value-container div.list-choices-action-button-container input.select-none,
div.data-creator td.predicate-default-value-container div.list-choices-action-button-container input.sort,
div.data-editor div.list-choices-action-button-container input.select-all,
div.data-editor div.list-choices-action-button-container input.select-none,
div.data-editor div.list-choices-action-button-container input.sort{
    display: inline-block;
    background-color: #5a8ba8;
    padding: 0px 10px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

div.data-creator td.predicate-default-value-container div.list-choices-action-button-container input.select-all,
div.data-creator td.predicate-default-value-container div.list-choices-action-button-container input.select-none,
div.data-creator td.predicate-default-value-container div.list-choices-action-button-container input.sort{
    margin: 3px;
}

div.data-editor td.new-value li input[type="checkbox"],
div.data-editor td.current-value li input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
}



div.data-editor input.editor-submit {
    background-color: #5a8ba8;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

div.data-editor input.editor-submit:hover {
    background: #b6e5ff;
}

div.data-editor div.action-button-container {
    text-align: center;
    margin-top: 20px;
}

div.data-editor div.bubble-triangle {
    position: absolute;
    height: 15px;
    width: 15px;
    bottom: -10px;
    background-color: white;
    border: 1px solid #c5c5c5;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    right: 50%;
}

.no-title-dialog .ui-dialog-titlebar {
    display: none;
}

.ui-dialog {
    /*box-shadow: 10px 10px 5px rgba(58, 58, 58, 0.61);*/
}

.ui-widget-overlay {
    background-color: #000 !important;
    opacity: 0.75 !important;
}


/************************************************************/
/* Data Selector */
/************************************************************/

div.data-selector {
    height: 300px;
}

div.data-selector a.create-new-property,
div.data-selector a.create-new-predicate {
    color: #5a8ba8;
    text-decoration: underline;
    cursor: pointer;
}

div.data-selector a.create-new-property:hover,
div.data-selector a.create-new-predicate:hover {
    color: #000000;
    text-decoration: underline;
}

div.data-selector input.select-predicate,
div.data-creator input.create-property,
div.data-selector input.select-property {
    background-color: #5a8ba8;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.2s;
}

div.data-selector input.select-predicate:hover,
div.data-creator input.create-property:hover,
div.data-selector input.select-property:hover {
    background-color: #b6e5ff;
}

div.data-selector input.select-predicate[disabled="disabled"],
div.data-selector input.select-predicate[disabled="disabled"]:hover,
div.data-selector input.select-property[disabled="disabled"],
div.data-selector input.select-property[disabled="disabled"]:hover {
    background: #dddddd;
    cursor: default;
}

div.data-creator div.button-container,
div.data-selector div.button-container {
    text-align: center;
    margin-top: 10px;
}

div.data-creator input.action-button,
div.data-selector input.action-button {
    padding: 10px;
    width: auto;
    color: #FFF;
}

div.data-selector div.property-selection,
div.data-selector div.predicate-selection {
    position: relative;
}

div.data-selector div.property-selection div.create-new-container,
div.data-selector div.predicate-selection div.create-new-container {
    position: absolute;
    right: 0;
    z-index: 100;
}


div.data-selector div.predicate-selection span.property-is-list,
div.data-selector div.predicate-selection span.property-type,
div.data-selector div.property-selection span.property-is-list,
div.data-selector div.property-selection span.property-type {
    margin-right: 10px;
}

div.data-creator div.predicate-property-details div.property-name-container,
div.data-selector div.predicate-selection div.property-name-container,
div.data-selector div.predicate-selection div.property-choices,
div.data-selector div.property-selection div.property-name-container,
div.data-selector div.property-selection div.property-choices {
    padding: 5px;
    background-color: #c5dde8;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

div.data-creator div.predicate-property-details p.property-name,
div.data-creator div.predicate-property-details p.property-description,
div.data-creator div.predicate-property-details p.property-type-container,
div.data-creator div.predicate-property-details p.operator-container,
div.data-creator div.predicate-property-details p.default-value-container,
div.data-selector div.predicate-selection p.property-name,
div.data-selector div.predicate-selection p.property-description,
div.data-selector div.predicate-selection p.property-type-container,
div.data-selector div.predicate-selection p.operator-container,
div.data-selector div.predicate-selection p.default-value-container,
div.data-selector div.property-selection p.property-name,
div.data-selector div.property-selection p.property-description,
div.data-selector div.property-selection p.property-type-container {
    margin: 5px;
}

div.data-creator div.predicate-property-details p.property-description,
div.data-selector div.property-selection p.property-description,
div.data-selector div.predicate-selection p.property-description {
    text-align: left;
}

div.data-creator div.predicate-property-details p.property-description {
    border-bottom: none !important;
}

div.data-creator div.predicate-property-details p.property-name,
div.data-creator div.predicate-property-details span.property-type-title,
div.data-creator div.predicate-property-details span.property-is-list-title,
div.data-creator div.predicate-property-details span.property-is-restricted-title,
div.data-creator div.predicate-property-details span.choices-title,
div.data-creator div.predicate-property-details span.operator-title,
div.data-creator div.predicate-property-details span.default-value-title,
div.data-selector div.predicate-selection p.property-name,
div.data-selector div.predicate-selection span.property-type-title,
div.data-selector div.predicate-selection span.property-is-list-title,
div.data-selector div.predicate-selection span.property-is-restricted-title,
div.data-selector div.predicate-selection span.choices-title,
div.data-selector div.predicate-selection span.operator-title,
div.data-selector div.predicate-selection span.default-value-title,
div.data-selector div.property-selection p.property-name,
div.data-selector div.property-selection span.property-type-title,
div.data-selector div.property-selection span.property-is-list-title,
div.data-selector div.property-selection span.property-is-restricted-title,
div.data-selector div.property-selection span.choices-title {
    font-weight: bold;
}

div.data-selector div.predicate-selection select[name="predicates-table_length"],
div.data-selector div.predicate-selection input[type="search"],
div.data-selector div.property-selection select[name="properties-table_length"],
div.data-selector div.property-selection input[type="search"] {
    border-radius: 0px;
    padding: 10px;
    border: none;
    background-color: #c5dde8;
}

div.data-creator div.predicate-property-details div.property-detail-container,
div.data-selector div.property-selection div.property-detail-container,
div.data-selector div.predicate-selection div.predicate-detail-container {
    /*width: 100%;*/
    padding: 5px;
    background-color: #c5dde8;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

div.data-selector div.property-selection div.property-detail-container span.show-more,
div.data-selector div.predicate-selection div.predicate-detail-container span.show-more {
    color: #5a8ba8;
    text-decoration: underline;
    cursor: pointer;
}

div.data-selector div.property-selection div.property-detail-container span.show-more:hover,
div.data-selector div.predicate-selection div.predicate-detail-container span.show-more:hover {
    color: #000;
}

div.data-creator div.predicate-property-details p.property-data-container,
div.data-creator div.predicate-property-details p.property-name,
div.data-creator div.predicate-property-details p.property-description,
div.data-creator div.predicate-property-details p.property-choices-container,
div.data-selector div.property-selection p.property-name,
div.data-selector div.property-selection p.property-data-container,
div.data-selector div.property-selection p.property-choices-container,
div.data-selector div.predicate-selection p.property-data-container,
div.data-selector div.predicate-selection p.predicate-data-container {
    border-bottom: dashed 1px #5a8ba8;
    padding: 5px;
    margin: 0;
}

div.data-creator div.predicate-property-details p.property-data-container span.property-name,
div.data-selector div.property-selection p.property-data-container span.property-name,
div.data-selector div.predicate-selection p.property-data-container span.property-name {
    font-weight: bold;
    font-size: x-large;
}

div.data-creator div.predicate-property-details p.property-choices-container span.property-choices-title,
div.data-selector div.property-selection p.property-choices-container span.property-choices-title,
div.data-selector div.predicate-selection p.predicate-data-container span.predicate-operator {
    font-weight: bold;
}

/************************************************************/
/* Data Creator */
/************************************************************/

div.data-creator div.predicate-property-selection {
    text-align: center;
}

div.data-creator div.predicate-property-selection ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

div.data-creator div.predicate-property-selection ul li {
    display: inline-block;
}

div.data-creator div.predicate-property-selection a.action-button,
div.data-creator div.predicate-creation input.action-button {
    padding: 10px;
    width: auto;
    color: #FFF;
}

div.data-creator div.predicate-creation-details,
div.data-creator div.predicate-property-details {
    border: 1px dotted #666;
    padding: 10px;
    margin-bottom: 10px;
}

div.data-editor table,
div.data-creator div.predicate-creation-details table.creation-form {
    margin-left: auto;
    margin-right: auto;
}

div.data-creator div.predicate-creation-details table.creation-form td:first-child {
    text-align: right;
}


div.data-creator div.predicate-creation h2.title,
div.data-creator div.predicate-property-details h2.title {
    text-align: center;
    font-size: 25px;
}

div.data-creator div.predicate-property-details div.type-details-container {
    width: 100%;
}
div.data-creator div.predicate-property-details div.type-details-container div.property-type {
    width: 45%;
    background-color: #dbf7ff;
    float: left;
    border-radius: 5px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    text-align: center;
}
div.data-creator div.predicate-property-details div.type-details-container div.property-is-list {
    margin-top: 0px;
    margin-left: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #dbf7ff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

div.data-creator div.predicate-creation-details td.predicate-default-value-container {
    position: relative;
}

div.data-creator div.predicate-creation-details ul.predicate-default-value-container {
    height: 150px;
    overflow-y: scroll;
    padding: 0;
}

div.data-creator div.predicate-creation-details li.predicate-default-value {
    display: block;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #c5dde8;
    margin: 5px;
}

div.data-creator div.predicate-creation-details li.predicate-default-value input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
}

div.data-creator div.predicate-creation-details input.predicate-default-value.hidden {
    position: absolute;
    left: 0;
    opacity: 0;
}

div.data-creator input[type="text"],
div.data-creator input[type="number"],
div.data-creator input[type="datetime"],
div.data-creator input[type="date"],
div.data-creator select,
div.data-creator textarea {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #c5dde8;
    width: 215px;
}

div.data-creator div.property-creation input[type="text"],
div.data-creator div.property-creation input[type="number"],
div.data-creator div.property-creation input[type="datetime"],
div.data-creator div.property-creation input[type="date"],
div.data-creator div.property-creation select,
div.data-creator div.property-creation textarea {
    width: 300px;
}

div.data-creator div.property-creation tr.choices-container textarea {
    height: 150px;
}

div.data-creator div.property-creation div.add-choice-form-container {
    margin-bottom: 10px;
}

div.data-creator div.property-creation div.add-choice-form-container div.add-choice-input-container {
    margin-bottom: 10px;
    position: relative;
}



div.data-creator .new-property-input.error {
    border: dotted 1px #ff0000;
}

/*div.data-creator div.property-creation table th {*/
    /*width: 200px;*/
/*}*/

div.data-creator div.property-creation table {
    margin-right: auto;
    margin-left: auto;
}

div.data-creator div.property-creation table th:first-child {
    text-align: right;
    padding-right: 10px;
}


div.data-creator div.validation-error-container {
    text-align: center;
    color: red;
    margin: 10px;
}

div.data-creator input.remove-choice:disabled,
div.data-creator input.remove-choice:disabled:hover,
div.data-creator input.add-choice-input.hidden:disabled,
div.data-creator input.add-choice-input.displayed:disabled,
div.data-creator input.add-choice-input:disabled,
div.data-creator input.add-choice:disabled,
div.data-creator input.add-choice:disabled:hover {
    background: #dddddd;
}


div.data-creator input.add-choice-input.hidden {
    position: absolute;
    left: 0;
    opacity: 0;
}

select.disabled-choices-list {
    background: #dddddd !important;
}

/************************************************************/
/* Pagination */
/************************************************************/

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}